@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

body {
	font-family: Montserrat,Arial, Helvetica, sans-serif;
	background-color:#f7f7f7;
}
* {box-sizing: border-box}

.container {
    padding: 20px;
      width:500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
      border:1px solid #ccc;
      border-radius:10px;
      background:white;
      max-height: 600px;
  -webkit-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  -moz-box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  box-shadow: 2px 1px 21px -9px rgba(0,0,0,0.38);
  /* overflow-y: scroll; */
  }

  .data{
    height: 40px;
    background-color: rgb(183, 180, 180);
    border-radius: 20px;
  }

  .content{
    color: black;
    font-weight: 500;
    position: relative;
    top: 25%;
    left: 15px;
  }

@media screen and (max-width: 300px) {
  .signupbtn {
     width: 100%;
  }
}